@import 'tailwindcss';
@plugin "daisyui";

:root {
	background-color: #fff;
	color: #000;
}

html {
	scroll-behavior: smooth;
}

/* Navbar css starts here */
#navbar-menus li a {
	@apply font-medium;
}
