@import 'tailwindcss';
@plugin "daisyui";
@plugin "flyonui";
/* @import './node_modules/flyonui/variants.css';
@source "./node_modules/flyonui/dist/index.js"; */

:root {
	background-color: #fff;
	color: #000;
}

html {
	scroll-behavior: smooth;
}

/* Navbar css starts here */
#navbar-menus li a {
	@apply font-medium;
}
